.url-form{
    display: inline-block;
    width: 60%;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.url-btn{
    height:50px;
    margin-right:auto;
    margin-top:auto;
    margin-bottom: 50px;
}

.center{
    text-align: center;
    margin : auto;
    margin-top: 10px;
}


.box-element{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.form-div{
    position: relative;
    display: inline-block;
    width: 100%;
    padding-right: 26px;
}



.btn-search{
    position: absolute;
    display: block;
    right: 0px;
    bottom: 5px;
}


.btn-in-mag {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;

    outline: none;

    position: absolute;
    display: block;
    height: 0px;
    width: 0px;
    right: 0;
    padding: 6px 0px;
}

.btn-in-x {
    position: absolute;
    right: 0;
    padding: 32px;
    margin-bottom: 10px;
}

.magnifying-glass{
    width: 25px;
    cursor: pointer;
    display: block;
    margin-bottom: -3px;
    float: right;
    transition: .1s;
}

.x{
    width: 30px;
    cursor: pointer;
    display: block;
    margin-top: -3px;
    transition: .1s;
    background-color: #fff;
}

.size-icon{
    cursor: pointer;
    text-align: center;
    display: block;
    margin-top: -3px;
    transition: .1s;
    background-color: #fff;
}